@model TracageAlmentaireWeb.Models.Scan

<div>
    <h4>Scan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TreatmentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TreatmentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfScan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfScan)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit"," ", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "List")
</p>
