<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        @if (ViewContext.RouteData.Values["action"].ToString() != "LoginPage")
        {
            <div class="text-left ">
                <a href="@Url.Action("Index","Home")"><img src="@Url.Content("../../Content/images/home.png")" alt="Home" height="35" width="35"/></a>
            </div>
            <asp:LinkButton ID="btnRandom"
                            runat="server"
                            CssClass="btn btn-primary"
                            OnClick="">
                <span aria-hidden="true" class="glyphicon glyphicon-refresh"></span>
            </asp:LinkButton>
        }

    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Alimentary Tracing label</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
