@model IEnumerable<Tracage.Models.Step>

<p class="font-weight-bold">
    Steps List
</p>
<table class="table">
    <tr style="background-color: white">

        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position)
        </th>
        <th></th>
    </tr>
    @{ int i = 1;}

    @foreach (var item in Model)
    {
        if (i % 2 == 0)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>

                   <td>
                    @Html.ActionLink("Details", "Details", "StepsManagement", new { id = item.Id }, new { @style = "color:#00cc00;" })
                </td>
            </tr>
            i++;
        }
        else if (i % 2 != 0)
        {
            <tr style="background:rgba(0,66,22,0.1); ">

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>

                <td>
                    @Html.ActionLink("Details", "Details", "StepsManagement", new { id = item.Id }, new { @style = "color:#00cc00;" })
                </td>
            </tr>
            i++;
        }

    }

</table>
