@using System.Web.UI.HtmlControls
@using Microsoft.AspNetCore.Mvc.Rendering
@using Tracage.Models
<div class="jumbotron">

    

    <h1 class="text-center"> Welcome ! </h1>
    
    
    <nav>
        <ul class="navbar navbar-collapse text-center">
            <li class ="btn btn-dark btn-lg col-md-4" style="margin: 1%;">
                @Html.ActionLink("Code Generation", "QRGenerationPage", "Home", new{Style = "color: white;"})
            </li>
            <li class ="btn btn-dark btn-lg col-md-4" style="margin: 1%;">
                @Html.ActionLink("Products Management", "List", "ProductManagement", new { Style = "color: white;" })
            </li>
            <li class ="btn btn-dark btn-lg col-md-4" style="margin: 1%;">
                @Html.ActionLink("Users Management", "List", "UsersManagement", new { Style = "color: white;" })
            </li>
            <li class ="btn btn-dark btn-lg col-md-4" style="margin: 1%;">
                @Html.ActionLink("Processes Management", "List", "ProcessesManagement", new { Style = "color: white;" })
            </li>
            <li class ="btn btn-dark btn-lg col-md-4" style="margin: 1%;">
                @Html.ActionLink("Treatments Management", "List", "TreatmentsManagement", new { Style = "color: white;" })
            </li>
            <li class ="btn btn-dark btn-lg col-md-4" style="margin: 1%;">
                @Html.ActionLink("Steps Management", "List", "StepsManagement", new { Style = "color: white;" })
            </li>
            <li class ="btn btn-dark btn-lg col-md-4" style="margin: 1%;">
                @Html.ActionLink("SubContractors Management", "List", "SubContractorsManagement", new { Style = "color: white;" })
            </li>
            <li class ="btn btn-dark btn-lg col-md-4" style="margin: 1%;">
                @Html.ActionLink("Roles Management", "List", "RolesManagement", new { Style = "color: white;" })
            </li>
            <li class ="btn btn-dark btn-lg col-md-4" style="margin: 1%;">
                @Html.ActionLink("States Management", "List", "StatesManagement", new { Style = "color: white;" })
            </li>
             
            <li class ="btn btn-dark btn-lg col-md-4" style="margin: 1%;">
                @Html.ActionLink("Organizations Management", "List", "OrganizationsManagement", new { Style = "color: white;" })
            </li>
        </ul>
    </nav>

</div>
