@using System.Web.UI.HtmlControls
@using Microsoft.AspNetCore.Mvc.Rendering
@using Tracage.Models
@model Tracage.Models.User
<div class="jumbotron">

    <h1 class="text-center">
        Welcome
        @Html.DisplayTextFor(model => model.Name)
        !
    </h1>

    <nav>
        <ul class="navbar navbar-collapse text-center">

            <li class="btn btn-dark btn-lg col-md-4" style="margin: 1%;">
                @Html.ActionLink("Products Management", "List", "ProductManagement", null, new {Style = "color: white;"})
            </li>

            <li class="btn btn-dark btn-lg col-md-4" style="margin: 1%;">
                @Html.ActionLink("Users Management", "List", "UsersManagement", null, new {Style = "color: white;"})
            </li>

            <li class="btn btn-dark btn-lg col-md-4" style="margin: 1%;">
                @Html.ActionLink("Processes Management", "List", "ProcessesManagement", null, new {Style = "color: white;"})
            </li>

            <li class="btn btn-dark btn-lg col-md-4" style="margin: 1%;">
                @Html.ActionLink("SubContractors Management", "List", "SubContractorsManagement", null, new {Style = "color: white;"})
            </li>

            <li class="btn btn-dark btn-lg col-md-4" style="margin: 1%;">
                @Html.ActionLink("Roles Management", "List", "RolesManagement", null, new {Style = "color: white;"})
            </li>

            <li class="btn btn-dark btn-lg col-md-4" style="margin: 1%;">
                @Html.ActionLink("Organizations Management", "List", "OrganizationsManagement", null, new {Style = "color: white;"})
            </li>
        </ul>
    </nav>

</div>
