@using System.Web.UI.HtmlControls
@using Tracage.Models
<div class="jumbotron">
    
    
    @if (User.Identity.IsAuthenticated)
    {
        <h3 align="center">
          Hello @User.Identity.Name
            
        </h3>
    }
    @if(Model!=null)
    {
        <h1>
            Hello @Model.Name
        </h1>
    }

    <h1> Welcome ! </h1>
    
    
    <nav>
        <ul class="navbar-nav">
            <li class="nav-item">
                @Html.ActionLink("Code Generation","GenerationPage","Home")
            </li>
            <li>
                @Html.ActionLink("Products management","List","ProductManagement")
            </li>
            <li>
                @Html.ActionLink("Users management", "List", "UsersManagement")
            </li>
            <li>
                @Html.ActionLink("processes management", "List", "ProcessesManagement")
            </li>
            <li>
                 @Html.ActionLink("treatments management", "List", "TreatmentsManagement")
            </li>
            <li></li>
        </ul>
    </nav>

</div>
